
.auth-button {
    margin-top: 10px;
    margin-right: 10px;
}

.featured-article {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.featured-article-photo {
    width: 495px;
    height: 320px;
    border: 5px solid gray;
    border-radius: 10px;
    margin-right: 52px;
}

.featured-article-title {
    font-size: 30px;
    font-style: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}

.featured-article-desc {
    width: 713px;
    height: 70px;
    margin-bottom: 70px;
 
}

.featured-article-author {
    display:inline-flex;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 4px solid gray;
    margin-right: 20px;
}

.placholders-temp {
    margin-left: 100px;
    margin-right: 100px;
}

.post-matters {
    margin-top: 20px;
}
