.sign-up-form-container {
  margin: auto;
  width: 900px;
  /* box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2); */
  position: relative;
  border-radius: 10px;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  
}

.close-btn {
  position: absolute;
  top: 2%;
  right: 3%;
  font-size: 1.5rem;
  z-index: 1;
  color: white;
  cursor: pointer;
}

.sign-up-form-content-left {
  background: white;
  border-radius: 10px 0 0 10px;
  position: relative;
}

.sign-up-form-img {
  width: 200px;
  height: 100%;
  position: absolute;
  border-radius: 5px 0 0 5px;
  top: 50%;
  left: 100px;
  transform: translate(-50%, -50%);
}

.sign-up-form-img-2 {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sign-up-form-success {
  text-align: center;
  font-size: 24px;
  margin-top: 80px;
  color: #fff;
}

.sign-up-form-content-right {
  border-radius: 0 10px 10px 0;
  position: relative;
  background: white;
}

.sign-up-signup-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-form h1 {
  font-size: 2rem;
  text-align: start;
  width: 80%;
  margin-bottom: 1rem;
  color: #022E39;
}

.sign-up-form-inputs {
  margin-bottom: 0.5rem;
  width: 80%;
}

.sign-up-form-inputs p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #f00e0e;
}


.sign-up-form-input {
  display: block;
  padding: 0px 1px 15px 10px;
  margin-top: 20px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #000000;
}

.sign-up-form-input::placeholder {
  color: #595959;
  font-size: 12px;
}

.sign-up-form-input-btn {
  width: 80%;
  height: 50px;
  margin-top: 15px;
  border-radius: 30px;
  background: #D85656;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
}

.sign-up-form-input-btn:hover {
  cursor: pointer;
  background: rgb(212, 34, 34);
  transition: all 0.4s ease-out;
}

.sign-up-form-input-login {
  font-size: 0.8rem;
  margin-top: 10px;
  
  color: black;
  width: 80%;
  text-align: center;
  justify-content: center;
  display: inline-block;
}

.sign-up-form-input-login a {
  text-decoration: none;
  color: #044655;
  font-weight: 600;
}

.sign-up-form-successfully-registered {
  font-size: 25px;
  text-decoration: none;
  color: #044655;
  font-weight: 600;
  justify-content: center;
  text-align: center;
  margin-top: 80px;
}

